
.table-responsive{
    width: 100% !important;
    margin: 15px 0px 10px 14px !important;
    max-height: 25vh !important;
    -ms-overflow-style: none;
  scrollbar-width: none;  
  -webkit-overflow-scrolling: touch;  
  overflow: auto; 
}

.table-responsive::-webkit-scrollbar {
    display: none;  
  }