.circle-wrap {
    width: 80px;
    height: 80px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 80px, 80px, 55px);
  }
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #9e00b1;
  }
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
  }
   
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(126deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }